<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quibusdam dignissimos saepe voluptas tempora tempore, necessitatibus, fuga recusandae fugiat explicabo quasi sunt voluptatibus dicta perspiciatis. Nemo ipsum quibusdam rerum deserunt?</p>

<%= image_tag 'helios.jpg' %>